.layout {
    width: 100vw;
    height: 100vh;
    background-color: #d5f2ed;

    display: grid;
    grid-template-areas:
        'header'
        'main';

    gap: 6px;

    grid-template-rows: 60px 1fr;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}
